/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/uploads/
/.idea/
/composer.phar
/composer.lock
/storage/pdf/
/storage/framework/laravel-excel/
/mets_requirments
/bakr_requirments
/package-lock.json
/supervisor_log/
/sub-domains/
.ftpquota
.user.ini
php.ini
composer.phar

